@{
  Layout = "_Layout";
}

<h1 class="logo">
  <i class="fa-li fa fa-check-mark" aria-hidden="true"></i>
 Nice job!
</h1>

@* <img id="AbsWorkout" src="~/img/abs.jpeg" width=" 80%"> *@
<img id="completeImg" src="~/img/w8.svg" class="success" width="60%">