@{
  Layout = "_Layout";
}
<h3 class="text-center">Created By: Janet Karpenske, Chloe Hellberg, and Johnny Duverseau</h3>
<br>
<p id="infoPara">CouchPotato is a user-focused application that can generate customized workouts. The program utilizes it's own API database, which hosts numerous exercises and details for each one, such as the targeted muscle group, number of calories the exercise burns, what style of exercise it is (cardiovascular, strength, flexibility, etc.), and how challenging it is. To browse the various exercises to choose from click the link at the top titled "CouchPotato Exercise Database". To view the documentation for our API and check out the various endpoints reference our<a href="http://localhost:5000/swagger/index.html"> swagger documentation</a>.
<br><br>
To gain full access to workout tailored just for you, please sign up or log in to your account.</p>
<img id="DetailImg" src="~/img/w5.svg" width="50%">
