@{
  Layout = "_Layout";
}
<h3 class="text-center">Created By: Janet Karpenske, Chloe Hellberg, and Johnny Duverseau</h3>
<p id="infoPara">CouchPotato is a user-focused application that can generate customized workouts. The program utilizes it's own API database, which hosts numerous exercises and details for each one, such as the targeted muscle group, number of calories the exercise burns, what style of exercise it is (cardiovascular, strength, flexibility, etc.), and how challenging it is.</p>