@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Couch 'Tator</h1>
    <p>The fitness app of the future yayy</p>
</div>

@Html.ActionLink("View Exercises", "Index", "Workouts")
@Html.ActionLink("Register", "Register", "Account")
