<div id="footer">
  <ul id="footerList">
    <li id="footerUl">&nbsp;Johnny Duverseau </li>
    <li id="footerUl">&nbsp;Chloe Hellberg, </li>
    <li id="footerUl">&nbsp;Janet Karpenske, </li>
    <li id="footerUl">Project Created by: </li>
  </ul>  
</div>